@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"');

*{
    margin:0;
    padding:0;
    border:0;
}

header {
    background-color: #F8E8D8;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:5px;
    padding-top: 5px;
}

 
.brand {
       background: url("../images/Indian\ logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;}
/* }
.list-group {
    background-color: gray;
    padding: 0;
    margin: 0;
} */
a.nav-link {
    background-color: grey;
    color: #F8E8D8;
}
li.list-group-item {
    background-color: grey;
    border: none;
}

.list-group-item.active {
    background-color: white;
}
/* li .active{
    color: #F8E8D8;
    background-color: gray;
} */
.list-group-item:hover{
    background-color: #BE4F00;
    color:white;
    font-weight:bold;
}
.jumbotron{
    color: #E2E8EE;
    font-weight: 600px;
    /* text-shadow: 2px 2px #000000; */
    font-style: bold;
    background-color: rgba(0, 0, 0, 0.2);
}

hr{
    border: 2px solid #BE4F00;
    border-radius: 1px;
}

/*----Logo img Start----*/
.bg-color{
    background-color: #F8E8D8;
}
/*----Logo img End----*/


/*----hero img Start----*/
.callout-container {
    height: 100vh;

    background: url('../images/Indian_food2.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: rgba(0, 0, 0, 0.2);
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0.5);
}

/*----hero img End----*/

/*----Footer----*/
footer{
    padding-bottom: 10px;
}

    footer a{
   font-size: 50px;
    margin: 0 auto;
    color:#BE4F00;
    max-width: height 80px;
}
.list-inline li{
    padding-left: 35px;
}

.here {
    font-weight: bold;
    color: #fff;
}



.footer-style{
    padding: 10px;
}


@media screen and (max-width: 1000px){
	.logo{
		display: none;
	}
}
